{% extends 'base.html' %}
{% block content %}

{% block navbar %}
  {% if request.user.is_authenticated %}
    {% include 'partials/loginnav.html' %}
  {% else %}
    {% include 'partials/nav.html' %}
  {% endif %}
{% endblock navbar %}

<form method="POST" action="{% url 'add_to_cart' slug=product.slug %}" id="variant-form">
  {% csrf_token %}
  <div class="product-page-container">
    <!-- LEFT SECTION -->
    <div class="product-left">
      <div class="main-image">
        <img src="{{ product.image1.url }}" alt="Main Image">
      </div>
      <div class="thumbnail-row">
        <img src="{{ product.image1.url }}" alt="Thumb 1">
        <img src="{{ product.image2.url }}" alt="Thumb 2">
        <img src="{{ product.image3.url }}" alt="Thumb 3">
      </div>

      <!-- ACTION BUTTONS -->
      <div class="action-buttons">
        <button type="submit" class="btn add-cart btn-lg py-4 w-50">ADD TO CART</button>
          <a href="{% url 'buynow_checkout' product.slug %}" class="btn buy-now btn-lg py-4 w-50">Buy Now</a>
      </div>
    </div>
  

    <!-- RIGHT SECTION -->
    <div class="product-right">
      <div class="product-title">{{ product.product_id.name }}</div>
      <div class="product-description">{{ product.product_id.description }}</div>

      <div class="price-block">
        <b>₹{{ product.sale_price }}</b>
        <strike>₹{{ product.original_price }}</strike>
        <span class="discount">{%if product.discount_per%}{{ product.discount_per }}% off{%endif%}</span>
      </div>

      <div class="stock">{% if product.stock <= 10 %}Only {{ product.stock }} left !!{% endif %}</div>

      {% if color_variant_map %}
      <div class="product-options">
        <h3>Select Color</h3>
        <div class="option-group">
          <div class="variant-thumbnails">
            {% for color, variant in color_variant_map.items %}
               <a href="{% url 'productdetail' slug=variant.slug %}" title="{{ color }}" class="variant-thumb-link" target="_blank">
                <div class="thumbnail-row">
                <img src="{{ variant.image1.url }}" alt="{{ color }}" >
              </div>
              </a>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endif %}
    
    <!-- SIZE / STORAGE OPTIONS -->
    {% for attr, vals in attributedict.items %}
      {% if attr|lower == "size" or attr|lower == "storage" %}
        <div class="product-options">
          <h3>Select {{ attr }}</h3>
          <div class="option-group">
            {% for val in vals %}
              <div class="size-box" data-size="{{ val }}">{{ val }}</div>
            {% endfor %}
          </div>
          <input type="hidden" name="selected_{{ attr|lower }}" id="selected-{{ attr|lower }}">
        </div>
      {% endif %}
    {% endfor %}

      <div class="product-detail">
        <h2>Product Details</h2>
        <h4>Name : <small>{{product.product_id}}</small></h1>
        {% for a,v in attributedict.items%}
          <h4>{{a}} : <small>{% for i in v %} {{i}}  {%endfor%}</small></h4>
        {%endfor%}
      </div>
    </div>
  </div>
  </div>
</div>
</form>


<!-- SIMILAR PRODUCTS -->
 <div>
<h2 class="similar-section-title">Similar Products</h2>
<div class="product-details-section">
  {% for item in similar_products %}
    <a href="{% url 'productdetail' slug=item.slug %}" class="product-details-card" target="_blank">
      <img src="{{ item.image1.url }}" alt="{{ item.product_id.name }}">
      <h4>{{ item.product_id.name }}</h4>
    </a>
  {% endfor %}
</div>
</div>

<!-- BEST DEALS -->
 <div>
<h2 class="similar-section-title">Best Deals</h2>
<div class="product-details-section">
  {% for item in best_deals %}
    <a href="{% url 'productdetail' slug=item.slug %}" class="product-details-card" target="_blank">
      <img src="{{ item.image1.url }}" alt="{{ item.product_id.name }}">
      <h4>{{ item.product_id.name }}</h4>
    </a>
  {% endfor %}
</div>
</div>

<div>
<h2 class="similar-section-title">Recently Viewed</h2>
<div class="product-details-section">
  {% for item in recently_viewed %}
    <a href="{% url 'productdetail' slug=item.slug %}" class="product-details-card" target="_blank">
        <img src="{{ item.image1.url }}" alt="{{ item.product_id.name }}">
        <h4>{{ item.product_id.name }}</h4>
    </a>
  {% endfor %}
</div>
</div>
{% endblock content %}
