{%load static%}

<nav class="navbar fixed-top">
    <!-- Logo -->
    <div class="logo-container">
        <a href="{%url 'dashboard' %}"><img src="{%static 'img/Shopezylogo.png'%}" alt="Flipkart"></a>
    </div>

    <!-- Search Bar -->
    <div class="search-container">
        <input type="text" placeholder="Search for products, brands and more">
    </div>

    <!-- Right Side Icons -->
    <div class="nav-links">
        <a href="{% url 'logout' %}"><i class="fas fa-user"></i>Logout</a>
        <a href="{% url 'cart' %}"><i class="fas fa-shopping-cart"></i>Cart</a>
        <a href="#"><i class="fas fa-store"></i>Become a seller</a>
        <a href="#"><i class="fas fa-ellipsis-v"></i></a>
    </div>
</nav>
