{% extends 'base.html' %}

{%block navbar%}
{%include 'partials/loginnav.html'%}
{%endblock navbar%}



{% block content %}
<div class="container mt-5">
    <h2>Your Shopping Cart</h2>

    {% if order_items %}
        <table class="table table-bordered mt-4" style="background-color: aliceblue;">
            <thead class="thead-dark">
                <tr>
                    <th>Product</th>
                    <th>Price (₹)</th>
                    <th>Quantity</th>
                    <th>Total (₹)</th>
                </tr>
            </thead>
            <tbody>
                {% for item in order_items %}
                    <tr>
                        <td>{{ item.product_id.name }}</td>
                        <td>{{ item.price }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.price|floatformat:2|add:item.quantity|floatformat:2 }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="text-right">
            <h4>Order Total: ₹{{ order.total }}</h4>
        </div>
    {% else %}
        <p>No items in your cart.</p>
    {% endif %}
</div>
{% endblock %}
