{%extends 'base.html'%}
{%load static%}
{% block content%}

{%block navbar%}
{% include 'partials/loginnav.html'%}
{%endblock navbar%}

<div class="cardcontainer">
{%for category in categories%}
<a href="{% url 'eachcategory' category.category_id %}"><div class="card">
  <img src="{{category.category_image.url}}" class="card-img-top" alt="...">
   <p class="card-title">{{category}}</p>
</div></a>

{%endfor%}
</div>

<div class="banner-carousel">
  <div class="slides">
    <img src="{%static 'img/shopanytime.webp'%}" alt="Ad 1" />
    <img src="{%static 'img/furniturebanner.webp'%}" alt="Ad 2" />
    <img src="{%static 'img/blackfriday.webp'%}" alt="Ad 2" />
    <img src="{%static 'img/newarrival.png'%}" alt="Ad 3" />
    <img src="{%static 'img/Sneakerbanner.webp'%}" alt="Ad 4" />
    <!-- Repeat or add more -->
  </div>
</div>
{% endblock content %}

