{%extends 'base.html'%}
{%load static%}
{% block content%}

{%block navbar%}
{% if request.user.is_authenticated %}
    {% include 'partials/loginnav.html'%}
{% else %}
    {% include 'partials/nav.html'%}
{% endif %}
{%endblock navbar%}

<div class="cardcontainer">
{%for category in categories%}
<a href="{% url 'eachcategory' category.category_id %}"><div class="card">
  <img src="{{category.category_image.url}}" class="card-img-top" alt="...">
   <p class="card-title text-dark">{{category}}</p>
</div></a>
{%endfor%}
</div>

<div class="banner-carousel">
  <div class="slides">
    <img src="{%static 'img/shopanytime.webp'%}" alt="Ad 1" />
    <img src="{%static 'img/furniturebanner.webp'%}" alt="Ad 2" />
    <img src="{%static 'img/blackfriday.webp'%}" alt="Ad 2" />
    <img src="{%static 'img/newarrival.png'%}" alt="Ad 3" />
    <img src="{%static 'img/Sneakerbanner.webp'%}" alt="Ad 4" />
    <!-- Repeat or add more -->
  </div>
</div>

<div class="Trending-Deals"> 
  <h2 class="section-title">Trending Deals</h2>
  <div class="product-section">
    {% for product in trending_products %}
    <a href="{% url 'productdetail' slug=product.variants.first.slug %}">
      <div class="card">
      {% if product.variants.first.image1 %}
        <img src="{{ product.variants.first.image1.url }}" alt="{{ product.name }}">
        <h3>{{ product.name }}</h3>
        <b>from ₹{{product.variants.first.sale_price}}</b>
      {% endif %}
      
    </div>
  </a>
    {% endfor %}
  </div>
  </div>

  <div class="Trending-Deals"> 
    <h2 class="section-title">Best Electronics</h2>
    <div class="product-section">
      {% for product in best_electronics %}
      <a href="{% url 'productdetail' slug=product.variants.first.slug %}">
        <div class="card">
        {% if product.variants.first.image1 %}
          <img src="{{ product.variants.first.image1.url }}" alt="{{ product.name }}">
          <h3>{{ product.name | truncatechars:"50"}}</h3>
          <b>from ₹{{product.variants.first.sale_price}}</b>
        {% endif %}
        
      </div>
    </a>
      {% endfor %}
    </div>
    </div>
{% endblock content %}

